@import "../../_globalColor";  // Assuming this file exists and defines your colors

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 25px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}

.skill {
  line-height: 3.5vw;
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-bar {
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

/* Media Queries for Responsiveness */

@media (max-width: 1456px) {
  .skills-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    font-size: 18px;
  }
}